.picture img {
    height: 400px;
    width: 370px;
    border: 7px solid rgb(9, 122, 14);
    border-radius: 50%;
}
.text{
    color:#006400;
    text-align: justify;
}

@media only screen and (max-width: 600px) {
    .picture img {
        height: 330px;
        width: 300px;
        border: 7px solid rgb(9, 122, 14);
        border-radius: 50%;
    }

    #picture {
        text-align: center;
    }
}