.footer-clean {
    padding: 50px 0;
    background-color: rgb(78, 75, 75);
    color: cyan;
}
.footer-clean .item {
    text-align: start;
}

.footer-clean h3 {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    color:snow;
}

.footer-clean ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
    cursor: pointer;
}

.footer-clean .copyright {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 13px;
    opacity: 0.6;
}
.social-item img {
    height: 50px ;
    width: 60px ;
    cursor: pointer;
}

@media (max-width:767px) {
    .footer-clean .item {
        padding-bottom: 20px;
    }
}